body {
  background-image: url("images/interstellarbg.jpg");
  background-position: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#title {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

#png {
	left: 40px;
}

.exp {
  vertical-align: 3px;
  font-size: smaller;
}