body {
  background-image: url("images/interstellarbg.jpg");
  background-position: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

#title {
  font-style: italic;
  font-weight: bold;
  font-size: 35px;
  height: 50px;
  text-decoration: underline;
  color: white;
  margin-top: 50px;
}

table {
  position: relative;
  width: 100%;
  height: 120px;
}

th {
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  border-bottom: 1px solid gray;
  color: white;
}

th:hover {
  color: green;
}

tr {
  height: 30px;
}

td {
  font-size:15px;
  border-bottom: 1px solid gray;
  color: white;
}

.exp {
  vertical-align: 3px;
  font-size: smaller;
}

#list:hover {
  transform: scale(1.2);
}